body {
	font-family: 'Cinzel', serif;
}
#pok_bild{
    display: block;
    width: 50%;
    height: 135px;
    margin-left: auto;
    margin-right: auto;
}
#go_bild{
    display: block;
    width: 18%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}
#pika_bild{
    float: right;
    height: 380px;
    width: 40%;
    margin-top: 10px;
}
#list_home{
    list-style-type: none;
	font-size: 35px;
}
.line_sep_home{
    width: 40px;
}
#section_home{
    height: 400px; 
}
#text_div_home{
    height: 200px;
    width: 700px;
    float: left;
    margin-top: 80px;
    margin-left: 300px;
    text-align: center;
}